// table of contents
// 1. variables
// 2. reset
// 3. mixins
// 4. header
// 5. game
//      a. choice-container
//      b. choice
// 6. rules
// 7. modals
//      a. rules-modal
// 8. animation
// 9. media query

// 1. variables
@import "./variables";

// 2. reset
@import "./reset";


// 3. mixins
@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    @include center-flex();
    flex-direction: column;
}
// 4. header
@import "./header";

// 5. game
@import "./game";

// 6. rules 
.rules-button {
    cursor: pointer;
    border: solid 2px $header-text;
    padding: .5rem 2.5rem;
    margin: 2rem;
    border-radius: .5rem;
    background-color: transparent;
    color: whitesmoke;
    position: absolute;
    right: 0;
    bottom: 0;
}

// 7. modals
@import "./modals";

// 8. animation
@keyframes grow {
    from {
        transform: rotateY(2700deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
@keyframes scaleUp {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1);
    }
}
// 9. media query
@media (max-width: 800px) {
    .rules-modal {
        inset: 0;
    }
    .rules-title{
        text-align: center;
        width: 100%;
    }
    .exit-button-desktop {
        display: none;
    }
    .exit-button-mobile {
        display: flex;
    }
    .choice-container {
        width: 100%;
    }
    .choice-reveal {
        flex-direction: column;
    }
}
@media (max-width: 400px) {
    main {
        min-height: 100vh;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    header {
        width: 80%;
    }
    .rules-button {
        padding: 1rem 5rem;
        position: relative;
    }
    .outcome-declaration-desktop {
        display: none !important;
    }
    .outcome-declaration-mobile {
        display: flex !important;
        width: 100%;
        
    }
}
