// table of contents
// 1. variables
// 2. reset
// 3. mixins
// 4. header
// 5. game
//      a. choice-container
//      b. choice
// 6. rules
// 7. modals
//      a. rules-modal
// 8. animation
// 9. media query

// 1. variables
@import "./variables";

// 2. reset
@import "./reset";


// 3. mixins
@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
// 4. header
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    border: solid 2px $header-text;
    padding: 1.5rem;
    margin: 2rem;
    border-radius: 1rem;
}
h1 {
    font-weight: 700;
}
.score-container {
    background-color: whitesmoke;
    color: $header-text;
    border-radius: 5px;
    padding: .5rem 3rem;
    text-align: center;
}
h2 {
    font-size: 1.2rem;
    font-weight: 600;
}
.score {
    font-size: 4rem;
    font-weight: 700;
}
// 5. game
//      a. game-container
.game-container {
    width: 70%;
    @include center-flex();
}
.hidden {
    display: none;
}
//      b. choice-container
.choice-container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
//      c. choice-border
.choice-border {
    width: $choice-size;
    height: $choice-size;
    border-radius: 100%;
    margin: 2rem 1rem 0rem;
    padding: 2rem;
    @include center-flex();
}
//      d. choice
.choice {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: whitesmoke;
    @include center-flex();
    img {
        width: 40%;
        height: 40%;
    }
}

.rock {
    background-image: $rock-gradient;
}
.paper {
    background-image: $paper-gradient;
}
.scissors {
    background-image: $scissors-gradient;
}

//      e. choice-reveal 
.choice-reveal {
    @include center-flex();
}
.player-choice, .house-choice {
    h2 {
        text-align: center;
        font-size: 2rem;
    }
}
.house-choice {
    transform: scale(0);
    animation: scaleUp 1s ease-out 0s forwards;
}
.outcome-declaration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: rotateY(90deg);
    animation: grow 1s ease-in-out 1s forwards;
    h2 {
        font-size: 3rem;
    }
    button {
        padding: .5rem 1rem;
        margin: .5rem;
        width: 100%;
        color: red;
    }
}

// 6. rules 
.rules-button {
    cursor: pointer;
    border: solid 2px $header-text;
    padding: .5rem 2.5rem;
    margin: 2rem;
    border-radius: .5rem;
    background-color: transparent;
    color: whitesmoke;
    position: absolute;
    right: 0;
    bottom: 0;
}

// 7. modals
.backdrop {
    z-index: 1;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
//      a. rules-modal
.rules-modal {
    position: absolute;
    top: 20%; bottom: 20%;
    left: 30%; right: 30%;
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    img {
        width: 100%;
    }
}
.rules-modal-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.rules-title {
    font-size: 3rem;
    color: $dark-text;
    font-weight: 700;
}
.exit-button-desktop, .exit-button-mobile {
    cursor: pointer;
    font-size: 3rem;
    background-color: whitesmoke;
    color: $header-text;
    border: none;
}
.exit-button-mobile {
    display: none;
}
// 8. animation
@keyframes grow {
    from {
        transform: rotateY(2700deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
@keyframes scaleUp {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1);
    }
}
// 9. media query
@media (max-width: 800px) {
    .rules-modal {
        inset: 0;
    }
    .rules-title{
        text-align: center;
        width: 100%;
    }
    .exit-button-desktop {
        display: none;
    }
    .exit-button-mobile {
        display: flex;
    }
    .choice-reveal {
        flex-direction: column;
    }
    .outcome-declaration {
        margin: 2rem;
    }
}
@media (max-width: 400px) {
    main {
        min-height: 100vh;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    header {
        width: 80%;
    }
    .rules-button {
        padding: 1rem 5rem;
        position: relative;
    }
}
